<%- include('partials/header',{title:'Buyer Cars Page'}) %>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
            </div>
        </nav>
        <% if (alert) {%> 
            <span style="color:green;"><%=alert%></span>
        <%} %> <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id Car</th>
                    <th scope="col">Name</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Bodykit</th>
                    <th scope="col">imgURL</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (i = 0; i < data.length; i++) {%>
                    <tr>
                        <td><%=data[i].id%></td>
                        <td><%=data[i].fullData%></td>
                        <td><%=converter(data[i].harga)%></td>
                        <td><%=data[i].unitStock%></td>
                        <td><%=data[i].bodykit%></td>
                        <td><img src="<%=data[i].imgURL%>"></td>
                        <td>
                            <a class="btn btn-danger" href= '/user/buy/<%=data[i].id%>' role="button">BUY</a>
                        </td>
                    </tr>
                    <%} %>        
            </tbody>
        </table>

        <%- include('partials/footer') %>