<%- include('partials/header',{title:'Admin Add Cars Page'}) %>

    <body>
        <h1 class="display-4">Form Add new Car</h1>
        <a href="/">Back to HomePage</a>
        <hr>
        <form action="/admin/cars/edit/<%=cars.id%>" method="POST">
            <div class="form-group">
                <label>Name Car</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="MAZDA, ..." name='car_name' value="<%=cars.car_name%>">
            </div>
            <div class="form-group">
                <label>Type</label>
                <input type="text" class="form-control" placeholder="RX-8" name='type' value="<%=cars.type%>">
            </div>
            <div class="form-group">
                <label>Harga</label>
                <input type="number" class="form-control" placeholder="Rp.1000.000.000" name='harga' value="<%=cars.harga%>">
            </div>
            <div class="form-group">
                <label>Stock</label>
                <input type="number" class="form-control" placeholder="50" name='stock' value="<%=cars.stock%>">
            </div>
            <div class="form-group">
                <label>BodyKit</label>
                <input type="text" class="form-control" placeholder="LowerRacing" name='bodykit' value="<%=cars.bodykit%>">
            </div>
            <div class="form-group">
                <label>imgURL</label>
                <input type="url" class="form-control" placeholder="LowerRacing" name='imgURL' value="<%=cars.imgURL%>">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <%- include('partials/footer') %>